<div class="collection-form p-5">
  <h5 class="pb-3">Add this meme to your collections!</h5>
  <%= simple_form_for [meme, collect], remote: true do |f| %>
    <!-- retrieve user's collections only -->
    <div class="existing-collection-input">
      <%= f.association :collection, prompt: "Select a Collection...", label: false, collection: Collection.where(user: current_user) %>
    </div>

    <div class="d-none new-collection-input">
    <%= f.simple_fields_for :collection do |collection| %>
      <%= collection.input :name, label: "New collection", label: false, placeholder: 'New collection name...', class: "comment-input shadow" %>
    <% end %>
    </div>

    <h6><%= link_to "Or create a new one to add this meme to", '#', class: "add-collection" %></h6>

    <br>
    <%= f.submit 'submit', class: "btn btn-secondary text-white", id: "magic" %>
  <% end %>
</div>
