<div class="content-dashboard row m-0">
  <!-- Left side bar -->
    <div class="col-0 col-lg-2 p-0 d-none d-lg-flex flex-column">
    <div class="left-dashboard">
  <%= render "shared/sidebars/left_sidebar" %>
      </div>
  </div>

  <!-- Main Interface -->
  <!-- Categories menu bar -->
  <div class="col-md-10 p-0 d-flex flex-column">
    <div class="row m-0 p-0 d-none d-lg-flex">
      <h5><%= @collection.name %></h5>
      <%= render 'follow' %>
    </div>
    <!-- Main Content Row -->
    <div class="category-content row m-0 p-0">
      <!-- Main Content Col's -->
      <div class="col-sm-12 col-lg-8 m-0">

        <!-- Memes feed grid -->
        <div class="row meme-feed-grid p-3">
          <div class="col-4 flex-wrap">
            <% @collection.memes.each do |meme| %>
              <!-- Card will be contained in a 4 columns on large screens -->
              <div class="card">
                <img src= "<%= meme.image_url %>" class="img-fluid">
                <h5 class="card-title"><%= meme.title %></h5>
                <h5 class="card-text">
                  <span class="badge badge-secondary"><%= meme.category %></span>
                </h5>
                <%= link_to "", meme_path(meme), class: "stretched-link" %>
              </div>
            <% end %>
          </div>
        </div>

      <!-- Right sidebar -->
      <div class="col-sm-0 col-lg-3 d-none d-md-flex flex-column">
        <div class="right-sidebar p-3">
          right side bar
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'indexCollectFormValidation' %>
<% end %>
