<div class="left-sidebar">
  <div class="left-sidebar-container p-0 m-0">
    <%= link_to "", root_path, id: "delete-link", class: "hidden" %>
    <% if current_user.nil? %>
      <%= render 'shared/sidebars/left_sidebar_login' %>
    <% else %>
      <!-- User details -->
      <div class="user-section">
        <%= render 'shared/components/user_sidebar_info' %>
      </div>
      <!-- Collections list -->
      <div class="collection-list-section p-4 pb-0 js-ajax-mycollections">
        <%= render partial: 'shared/sidebars/left_sidebar_mycollect' %>
      </div>
      <!-- Categories list -->
      <div class="category-list-section p-4">
        <h6>My Categories</h6>
        <% current_user.categories.each do |category| %>
            <%= link_to "\##{category.name.gsub(/\s+/, "")}", category_path(category) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <script>
    document.querySelector(".category-list-section").addEventListener("click", function() {
    confetti.start(2000);
    swal({
      title: "Dank Rank Increased!",
      text: "Wow. Very increased. Much Dank 🎉",
      icon: " <%= asset_path('nyan-cat.gif') %> ",
      button: false,
    });
  });
  </script>
</div>
