<!-- Meme upload form -->
<div class="col-12 col-md-12 col-lg-6 m-0 p-0 purple-background">
  <div class="meme-window-title">
    <h3 style="color: white">Build your meme</h3>
  </div>

  <div class="meme-form p-5">
    <%= simple_form_for @meme do |f| %>
      <%= f.input :title, label: false, placeholder: 'Meme title...' %>

      <div class="existing-category-input">
        <%= f.association :category, label: false, prompt: "Choose a Category" %>
      </div>

      <div class="d-none new-category-input">
        <%= f.simple_fields_for :category do |category| %>
          <%= category.input :name, label: false, placeholder: "New category" %>
        <% end %>
      </div>

      <%= link_to "...or create a new category", '#', class: "add-category" %>

      <div class="upload-meme-input mt-3">
        <%= f.input :image, input_html: { class: 'no-display'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a meme' %>
      </div>
      <div class="url-meme-input d-none mt-3">
        <%= f.input :image_url, label: false, placeholder: 'Or paste image url here...', class: "preview", name: "thumbnail" %>
      </div>

      <%= link_to "...or use a url", '#', class: "choose-url" %>
      <br/>

      <div class="mt-4">
        <%= f.submit 'Submit', class: "btn btn-primary text-white" %>
      </div>
    <% end %>
  </div>
</div>

<!-- Meme preview -->
<div class="col-0 col-md-0 col-lg-6 d-none d-lg-flex flex-column m-0 p-0 purple-testing">
  <div class="meme-edit-preview">
    <div class="meme-preview-card">
    <%# <input name="thumbnail" placeholder="Image url here" /> %>
    </div>
    <img src="" id="preview" />
  </div>
</div>

<script>
  const newImageCategory = document.querySelector(".new-category-input");
  const existingCategories = document.querySelector(".existing-category-input");
  const newCategoryButton = document.querySelector(".add-category");

  newCategoryButton.addEventListener('click', () => {
    newImageCategory.classList.toggle("d-none");
    if (newImageCategory.classList.contains("d-none")) {
      newCategoryButton.innerText = "...or create new category"
      existingCategories.classList.remove("d-none")
    } else {
      newCategoryButton.innerText = "...or use existing category"
      existingCategories.classList.add("d-none")
    }
  })

  const uploadFile = document.querySelector(".upload-meme-input");
  const urlMeme = document.querySelector(".url-meme-input");
  const chooseUrlButton = document.querySelector(".choose-url");

  chooseUrlButton.addEventListener('click', () => {
    uploadFile.classList.toggle("d-none");
    if (uploadFile.classList.contains("d-none")) {
      chooseUrlButton.innerText = "...or upload a file?"
      urlMeme.classList.remove("d-none")
    } else {
      chooseUrlButton.innerText = "...or use a url"
      urlMeme.classList.add("d-none")
    }
  })

  $(function() {
    $('#meme_image').on('change', function(event) {
      console.log("this was clicked derp");
      var files = event.target.files;
      var image = files[0]
      // here's the file size
      console.log(image.size);
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        $('.meme-preview-card')
          .html(img)
          .width(100);
      }
      reader.readAsDataURL(image);
      console.log(files);
      document.getSelector('.meme-preview-card').style.display = "none";
    });
  });

  // $('[name="thumbnail"]').on('change', function() {
  //   console.log("derp");
  //     $('img.preview').prop('src', this.value);
  // });

  // var image = img.src;

  // if (image.value !== nill) {
  //   document.getElementById('memePreviewCard.background-image').style.display = "none";
  // }, else {
  //   document.getElementById('memePreviewCard.background-image').style.visibility = "visible";
  // }, end

</script>
