<div class="meme-flip-card mt-4 mb-4">
    <!-- Meme header -->
    <div class="meme-card-header">
      <h6><%= link_to meme.title, meme_path(meme) %></h6>
    </div>
    <!-- Meme flip card -->
    <div class="flip-card flip-front">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex justify-content-center">
          <div class="flip-card-image">
            <!-- Meme image -->
            <% if meme.image.attached? %>
              <%= cl_image_tag meme.image.key %>
            <% else %>
              <% if meme.image_url.nil? %>
                <%= image_tag asset_path('default-avatar.png') %>
              <% else %>
                <%= image_tag meme.image_url %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="flip-card-back p-2 d-flex justify-content-center flex-column">
          <h6>Created by:</h6>
            <div class="mb-2">
              <% if meme.user.avatar.attached? %>
                <%= image_tag meme.user.avatar, class: "avatar" %>
              <% else %>
                 <%= image_tag asset_path('default-avatar.png'), class: "avatar" %>
              <% end %>
              <p class="m-0"><%= meme.user.username %></p>
              <p class="m-0"><small><%= time_ago_in_words(meme.created_at) %> ago</small></p>
            </div>

            <div class="row p-0 m-0 d-flex justify-content-center">
              <div class="col-3 p-0 m-0">
                <h6><i class="fas fa-clone"></i>&nbsp<%= meme.collects.count %></h6>
              </div>
              <div class="col-3 p-0 m-0">
                <h6><i class="fas fa-comment-alt"></i>&nbsp<%= meme.comments.count %></h6>
              </div>
              <div class="col-3 p-0 m-0">
                <h6><i class="fas fa-skull"></i>&nbsp<%= meme.likes.count %></h6>
              </div>
            </div>
          </div>

        </div>
        <!-- Meme badge -->
        <div class="meme-flip-card-badge">
          <%= image_tag asset_path(meme.rarity.get_rarity)%>
        </div>
      </div>
    </div>


