<div class="meme-catcol-card card align-self-center">
  <!-- Top link card -->
  <div class="card border-0 rounded-tops">
    <h6 class="card-title p-3 m-0"> <%= meme.title %> </h6>
    <%= link_to '', meme_path(meme), class: "hidden stretched-link" %>
  </div>
  <!-- Image -->
  <div class="meme-card-image">
    <div class="meme-image-container">
      <% if meme.image.attached? %>
        <%= cl_image_tag meme.image.key %>
      <% else %>
        <%= image_tag meme.image_url %>
      <% end %>
      <%= link_to '', meme_path(meme), class: "hidden stretched-link" %>
    </div>
  </div>

  <!-- Hearts -->
  <div data-meme-id="<%= meme.id %>" class="p-3 like-toggle js-like">
    <%= render partial: "/shared/components/like_toggle", collection: [meme], as: :meme %>
  </div>
</div>

