<%= simple_form_for @meme do |f| %>
<div class="meme-form-section row red-testing">
    <!-- Meme info inputs -->
    <div class="meme-form-left text-center col-4">
      <h3 class="mb-4">Build your meme</h3>
      <%= f.input :title, label: false, input_html: { class: 'memento-input'}, placeholder: 'Meme title...' %>

      <div class="existing-category-input">
        <%= f.association :category, label: false, input_html: { class: 'memento-input'}, prompt: "Choose a Category" %>
      </div>

      <div class="d-none new-category-input">
        <%= f.simple_fields_for :category do |category| %>
          <%= category.input :name, label: false, input_html: { class: 'memento-input'}, placeholder: "New category" %>
        <% end %>
      </div>

      <%= link_to "...or create a new category", '#', class: "add-category" %>
    </div>

    <!-- Meme upload input -->
    <div class="meme-form-right col-8 grey-testing">
      <div class="meme-card-content red-testing mt-3">
        <%= f.input :image, input_html: { class: 'no-display'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a meme' %>
        <!-- Meme badge -->
        <div class="meme-card-badge">
          <%= image_tag asset_path('blank-rank.png')%>
        </div>
      </div>
      <!-- Meme info -->
      <div class="meme-card-info d-flex">
        <div>
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "avatar" %>
          <% else %>
                 <%= image_tag asset_path('default-avatar.png'), class: "avatar" %>
          <% end %>
          <%= current_user.username %>
        </div>
      </div>
      <div class="url-meme-input d-none mt-3">
        <%= f.input :image_url, label: false, placeholder: 'Or paste image url here...', class: "preview", name: "thumbnail" %>
      </div>

      <%= link_to "...or use a url", '#', class: "choose-url" %>
      <br/>

      <div class="mt-4">
        <%= f.submit 'Submit', class: "btn btn-primary text-white" %>
      </div>

    </div>
</div>
<% end %>

<script>
  const newImageCategory = document.querySelector(".new-category-input");
  const existingCategories = document.querySelector(".existing-category-input");
  const newCategoryButton = document.querySelector(".add-category");

  newCategoryButton.addEventListener('click', () => {
    newImageCategory.classList.toggle("d-none");
    if (newImageCategory.classList.contains("d-none")) {
      newCategoryButton.innerText = "...or create new category"
      existingCategories.classList.remove("d-none")
    } else {
      newCategoryButton.innerText = "...or use existing category"
      existingCategories.classList.add("d-none")
    }
  })

  const uploadFile = document.querySelector(".upload-meme-input");
  const urlMeme = document.querySelector(".url-meme-input");
  const chooseUrlButton = document.querySelector(".choose-url");

  chooseUrlButton.addEventListener('click', () => {
    uploadFile.classList.toggle("d-none");
    if (uploadFile.classList.contains("d-none")) {
      chooseUrlButton.innerText = "...or upload a file?"
      urlMeme.classList.remove("d-none")
    } else {
      chooseUrlButton.innerText = "...or use a url"
      urlMeme.classList.add("d-none")
    }
  })

  $(function() {
    $('#meme_image').on('change', function(event) {
      console.log("this was clicked derp");
      var files = event.target.files;
      var image = files[0]
      // here's the file size
      console.log(image.size);
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        $('.meme-preview-card')
          .html(img)
          .width(100);
      }
      reader.readAsDataURL(image);
      console.log(files);
      document.getSelector('.meme-preview-card').style.display = "none";
    });
  });

  // $('[name="thumbnail"]').on('change', function() {
  //   console.log("derp");
  //     $('img.preview').prop('src', this.value);
  // });

  // var image = img.src;

  // if (image.value !== nill) {
  //   document.getElementById('memePreviewCard.background-image').style.display = "none";
  // }, else {
  //   document.getElementById('memePreviewCard.background-image').style.visibility = "visible";
  // }, end

</script>
