<div class="meme-creation-form p-5">
  <%= simple_form_for @meme do |f| %>
    <p>Add this meme to an existing category:</p>
    <%= f.association :category %>
    <p>Or create a new category for your meme:</p>
    <%= f.simple_fields_for :category do |category| %>
      <%= category.input :name, label: "New category", placeholder: 'New category name...' %>
    <% end %>

    <%= f.input :title, placeholder: 'Meme title...' %>
    <%= f.input :image_url, placeholder: 'Meme url...' %>

    <%= f.input :image, as: :file %>
    <br>
    <%= f.submit 'submit', class: "btn btn-primary text-white" %>
  <% end %>
</div>

