<div class="meme-creation-form p-5">
  <%= simple_form_for @meme do |f| %>
    <%= f.input :title, placeholder: 'Type the title' %>
    <%= f.input :photo, as: :file %>
    <%= f.input :image_url, placeholder: 'Type the image url' %>
    <%= f.input :category, collection: ['Cats', 'Dogs', 'Birds', 'Elephants', 'Cocktails'], prompt: "Select the category" %>
    <%= f.button :submit %>
  <% end %>
</div>