<!-- Title bar -->
<div class="row memes-titlebar m-0 align-items-center justify-content-between">
  <div class="justify-content-left p-3">
    <%= link_to "< Back", request.referer %>
  </div>
  <div class="pr-3">
    <% if @meme.user == current_user %>
      <%= link_to 'Edit', edit_meme_path(@meme), class: "btn btn-primary" %>
      <%= link_to 'Delete', meme_path(@meme), method: :delete, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="meme-show-window d-flex flex-column align-items-center">
  <%= render partial: "meme_card", collection: [@meme], as: :meme %>
</div>

<%= javascript_pack_tag 'memeCard' %>

