<!-- <div class="content-dashboard d-flex flex-column justify-content-center align-items-center row m-0 p-0"> -->
  <%# @memes.each do |meme| %>
  <div class="meme-card mt-4 mb-4">

    <!-- Meme header -->
    <div class="meme-card-header">
      <h5><%= link_to meme.title, meme_path(meme) %><h5>
    </div>

    <!-- Meme content -->
    <div class="meme-card-content">
      <!-- Meme image -->
      <div class="meme-card-content-image grow">
        <a href="<%= meme_path(meme) %>">
          <% if meme.image.attached? %>
            <%= cl_image_tag meme.image.key %>
          <% else %>
            <%= image_tag meme.image_url %>
          <% end %>
        </a>
        <!-- Overlay -->
        <div data-meme="<%= meme.id %>" class="js-ajax-collect">
          <%= render partial: "memes/meme_card_overlay", collection: [meme], as: :meme %>
        </div>
      </div>
      <!-- Meme badge -->
      <div data-meme-badge="<%= meme.id %>" class="meme-card-badge">
        <%= image_tag asset_path(meme.rarity.get_rarity)%>
      </div>
      <!-- Tags -->
      <div class="meme-card-tags">
      <% collections = meme.collects.map { |collect| collect.collection } %>
      <% result = collections.map { |collection| collection.user == current_user } %>
        <% if result.include?(true) %>
          <div class="collect-tag collect-tag-selected d-flex justify-content-center">
            <i class="fas fa-bookmark"></i>
          </div>
        <% else %>
          <div class="collect-tag d-flex justify-content-center">
            <i class="fas fa-bookmark"></i>
          </div>
        <% end %>

        <!-- Dank! Tag -->
        <div data-meme-id="<%= meme.id %>" class="mt-2 like-toggle js-like">
          <%= render partial: "/shared/components/like_toggle", collection: [meme], as: :meme %>
        </div>
      </div>
    </div>

    <!-- Meme info -->
    <div class="meme-card-info d-flex">
      <!-- <a href="<%= user_path(meme.user) %>" class="meme-card-username"> -->
        <div>
          <% if meme.user.avatar.attached? %>
            <%= image_tag meme.user.avatar, class: "avatar" %>
          <% else %>
                 <%= image_tag asset_path('default-avatar.png'), class: "avatar" %>
          <% end %>
          <%= link_to meme.user.username, user_path(meme.user), class: "meme-card-username" %>
        </div>
      <!-- </a> -->
      <div>
        <i class="fas fa-comment-alt"></i>&nbsp<%= meme.comments.count %>
      </div>
    </div>
  </div>
  <%# end %>
<!-- </div> -->
