<div class="row vh-100">
  <!-- Left sidebar -->
  <%= render 'shared/sidebar/left_sidebar' %>

  <!-- Memes details section  -->
  <div class="memes-details col-6">
    <!-- Title bar -->
    <div class="row memes-titlebar m-0 justify-content-between">
      <div class="justify-content-left">
        <%= link_to 'Back', memes_path %>
      </div>
      <div class="justify-content-between">
        <%= link_to 'Edit', edit_meme_path %>
        <%= link_to 'Delete' %> 
      </div>   
    </div>
    
    <!-- Memes details -->
    <%= render partial: 'memes/meme_show_meme_view', collection: [@meme], as: :meme %>
  </div>

  <!-- Right sidebar // partial later -->
  <div class="memes-right-sidebar col-4">

    <!-- Meme engagement actions -->
    <div class="row memes-actions">
      <button class="col-4"><i class="fas fa-heart"></i></button>
      <button class="col-4"><i class="far fa-plus-square"></i></button>
      <button class="col-4"><i class="fas fa-share-alt"></i></button>
    </div>

    <!-- Meme creator info card -->
    <div class="row meme-creator-info">
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" style="float:left" />
      <p>Creator's name</p>
    </div>

    <!-- Meme comments section -->
    <div class="memes-comments">

      <!-- Meme comments list -->
      <div class="row meme-comments-list">
        <img src="https://via.placeholder.com/50x50" class="avatar" style="float:left">
        <p>comment</p>
      </div>

      <div class="row meme-comments-list">
        <img src="https://via.placeholder.com/50x50" class="avatar" style="float:left">
        <p>comment</p>
      </div>

      <div class="row meme-comments-list">
        <img src="https://via.placeholder.com/50x50" class="avatar" style="float:left">
        <p>comment</p>
      </div>

      <!-- Meme comments form -->
      <div class="memes-comments-form p-5">
        <%# <% simple_form_for @comment do |f| %>
          <%# <%= f.input :comment, placeholder: 'Type your comment' %>
          <%# <%= f.button :submit %>
        <%# <% end %>
      <h5>this is the comment form</h5>
    </div>
  </div>
</div>
