<% if @user == current_user %>
<div class="content-dashboard row m-0">
  <!-- Left side bar -->
  <div class="left-sidebar pt-4 pl-0 pr-0 col-md-2 d-none d-lg-flex">
    <div class="nav flex-column mt-4 w-100 nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">My Profile</a>
      <a class="nav-link" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-selected="false">My Collections</a>
      <a class="nav-link" id="v-pills-collections-tab" data-toggle="pill" href="#v-pills-collections" role="tab" aria-controls="v-pills-collections" aria-selected="false">My Memes</a>
      <a class="nav-link" id="v-pills-memes-tab" data-toggle="pill" href="#v-pills-memes" role="tab" aria-controls="v-pills-memes" aria-selected="false">Dank Metrics</a>
    </div>
  </div>

  <div class="tab-content col-12 col-md-10 m-0 p-0" id="v-pills-tabContent">
      <!-- Account -->
      <div class="tab-pane user-tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="user-dashboard-window">
          <%= render 'users/show/user_show_account' %>
        </div>
      </div>

      <!-- Collections -->
      <div class="tab-pane user-tab-pane fade" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
        <div class="user-dashboard-window">
          <%= render 'users/show/user_show_collections' %>
        </div>
      </div>

      <!-- Memes -->
      <div class="tab-pane user-tab-pane fade" id="v-pills-collections" role="tabpanel" aria-labelledby="v-pills-collections-tab">
        <div class="user-dashboard-window">
          <%= render 'users/show/user_show_memes' %>
        </div>
      </div>

      <!-- Metrics -->
      <div class="tab-pane user-tab-pane fade" id="v-pills-memes" role="tabpanel" aria-labelledby="v-pills-memes-tab">
        <div class="user-dashboard-window">
          <%= render 'users/show/user_show_metrics' %>
        </div>
      </div>
    </div>
</div>
<% else %>
  <div class="alt-user d-flex justify-content-center align-items-center flex-column">
    <!-- User dank rank stats -->
    <div class="row">
      <div class="dank-info-section col-12 d-flex justify-content-center">
        <div class="user-info d-flex justify-content-center align-items-center">
          <!-- Username -->
          <h3><%= @user.username %></h3>
          <!-- Avatar -->
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, class: "user-l-sidebar-info-image" %>
          <% else %>
            <%= image_tag asset_path('default-avatar.png'), class: "user-l-sidebar-info-image" %>
          <% end %>
          <h5> Lvl. <%= @user.get_dank_rank %></h5>
          <!-- Dank bar -->
          <div class="dank-rank-section">
            <div class="dank-bar">
              <div class="dank-filler" style="width: <%= @user.dank_rank.rank_up_bar %>%;">
              </div>
            </div>
            <p><a href="#" class="badge badge-primary mt-2"> <%= @user.dank_rank.rank_up_xp_progress %> / <%= current_user.dank_rank.rank_up_xp_required %> </a> until next level</p>
            <div class="row text-center">
              <div class="engagement-score col-4">
                <i class="fas fa-circle"></i>
                Engagements: <%= @user.engagement_score %>
              </div>
              <div class="collection-score col-4">
                <i class="fas fa-circle"></i>
                Collections: <%= @user.collection_score %>
              </div>
              <div class="creation-score col-4">
                <i class="fas fa-circle"></i>
                Creations: <%= @user.creation_score %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-user=<%= @user.id %>>
      <% if current_user.is_following?(@user.id) %>
        <%= link_to "Unfollow", unfollow_user_path(@user.id), method: :post, remote: true %>
      <% else %>
        <%= link_to "Follow", follow_user_path(@user.id), method: :post, remote: true %>
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for :after_js do %>
  <%#= javascript_pack_tag 'renderChart' %>
  <%#= javascript_pack_tag 'memesChart' %>
<% end %>
