<div class="content-dashboard d-flex justify-content-center align-items-center row m-0 p-0">

  <div class="meme-flip-card mt-4 mb-4">
    <!-- Meme header -->
    <div class="meme-card-header">
      <h5><%= link_to @meme.title, meme_path(@meme) %><h5>
    </div>
    <!-- Meme flip card -->
    <div class="flip-card flip-front">
      <div class="flip-card-inner">
        <div class="flip-card-front d-flex justify-content-center">
          <div class="flip-card-image">
            <!-- Meme image -->
            <% if @meme.image.attached? %>
              <%= cl_image_tag @meme.image.key %>
            <% else %>
              <%= image_tag @meme.image_url %>
            <% end %>
          </div>
        </div>
        <div class="flip-card-back p-3 d-flex justify-content-center flex-column">
          <h6>Created by:</h6>
          <div>
            <% if @meme.user.avatar.attached? %>
              <%= image_tag @meme.user.avatar, class: "avatar" %>
            <% else %>
               <%= image_tag asset_path('default-avatar.png'), class: "avatar" %>
            <% end %>
            <h5><%= @meme.user.username %></h5>
          </div>
          <p><%= time_ago_in_words(@meme.created_at) %> ago</p>

          <div class="row p-3">
            <div class="col-6">
              <p>Collects:</p>
              <h6><i class="fas fa-clone"></i>&nbsp<%= @meme.collects.count %></h6>
            </div>
            <div class="col-6">
              <p>Engagements:</p>
              <h6><i class="fas fa-comment-alt"></i>&nbsp<%= @meme.comments.count %></h6>
            </div>
          </div>
          <p>Dank Points:</p>
          <h6><i class="fas fa-skull"></i>&nbsp<%= @meme.likes.count %></h6>
          </div>

        </div>
        <!-- Meme badge -->
        <div class="meme-flip-card-badge">
          <%= image_tag asset_path(@meme.rarity.get_rarity)%>
        </div>
      </div>

    </div>

    <!-- CARD 2!!!!! -->

    <div class="meme-flip-card mt-4 mb-4">
      <!-- Meme header -->
      <div class="meme-card-header">
        <h5><%= link_to @meme.title, meme_path(@meme) %><h5>
      </div>
      <!-- Meme flip card -->
      <div class="flip-card flip-front">
        <div class="flip-card-inner">
          <div class="flip-card-front d-flex justify-content-center">
            <div class="flip-card-image">
              <!-- Meme image -->
              <% if @meme.image.attached? %>
                <%= cl_image_tag @meme.image.key %>
              <% else %>
                <%= image_tag @meme.image_url %>
              <% end %>
            </div>
          </div>
          <div class="flip-card-back p-3 d-flex justify-content-center flex-column">
            <h6>Created by:</h6>
            <div>
              <% if @meme.user.avatar.attached? %>
                <%= image_tag @meme.user.avatar, class: "avatar" %>
              <% else %>
                 <%= image_tag asset_path('default-avatar.png'), class: "avatar" %>
              <% end %>
              <h5><%= @meme.user.username %></h5>
            </div>
            <p><%= time_ago_in_words(@meme.created_at) %> ago</p>

            <div class="row p-3">
              <div class="col-6">
                <p>Collects:</p>
                <h6><i class="fas fa-clone"></i>&nbsp<%= @meme.collects.count %></h6>
              </div>
              <div class="col-6">
                <p>Engagements:</p>
                <h6><i class="fas fa-comment-alt"></i>&nbsp<%= @meme.comments.count %></h6>
              </div>
            </div>
            <p>Dank Points:</p>
            <h6><i class="fas fa-skull"></i>&nbsp<%= @meme.likes.count %></h6>
            </div>

          </div>
          <!-- Meme badge -->
          <div class="meme-flip-card-badge">
            <%= image_tag asset_path(@meme.rarity.get_rarity)%>
          </div>
        </div>
      </div>
    </div>

    <!-- CARD 3!!!!! -->

    <div class="meme-flip-card mt-4 mb-4">
      <!-- Meme header -->
      <div class="meme-card-header">
        <h5><%= link_to @meme.title, meme_path(@meme) %><h5>
      </div>
      <!-- Meme flip card -->
      <div class="flip-card flip-front">
        <div class="flip-card-inner">
          <div class="flip-card-front d-flex justify-content-center">
            <div class="flip-card-image">
              <!-- Meme image -->
              <% if @meme.image.attached? %>
                <%= cl_image_tag @meme.image.key %>
              <% else %>
                <%= image_tag @meme.image_url %>
              <% end %>
            </div>
          </div>
          <div class="flip-card-back p-3 d-flex justify-content-center flex-column">
            <h6>Created by:</h6>
            <div>
              <% if @meme.user.avatar.attached? %>
                <%= image_tag @meme.user.avatar, class: "avatar" %>
              <% else %>
                 <%= image_tag asset_path('default-avatar.png'), class: "avatar" %>
              <% end %>
              <h5><%= @meme.user.username %></h5>
            </div>
            <p><%= time_ago_in_words(@meme.created_at) %> ago</p>

            <div class="row p-3">
              <div class="col-6">
                <p>Collects:</p>
                <h6><i class="fas fa-clone"></i>&nbsp<%= @meme.collects.count %></h6>
              </div>
              <div class="col-6">
                <p>Engagements:</p>
                <h6><i class="fas fa-comment-alt"></i>&nbsp<%= @meme.comments.count %></h6>
              </div>
            </div>
            <p>Dank Points:</p>
            <h6><i class="fas fa-skull"></i>&nbsp<%= @meme.likes.count %></h6>
            </div>

          </div>
          <!-- Meme badge -->
          <div class="meme-flip-card-badge">
            <%= image_tag asset_path(@meme.rarity.get_rarity)%>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>
<!-- <div class="content-dashboard row m-0 p-0"> -->
  <!-- Left Dashboard -->
  <!-- <div class="col-0 col-lg-2 p-0 d-none d-lg-flex flex-column"> -->
    <!-- <div class="left-dashboard red-testing"> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- Middle and Right Sections -->
  <!-- <div class="col-md-12 col-lg-10 p-0 d-flex flex-column"> -->
    <!-- Categories topbar: Comment out when not in use -->
    <!-- <div class="dashboard-carousel row m-0 p-0 d-none d-lg-flex grey-testing"> -->

    <!-- </div> -->
    <!-- Right Dashboard -->
    <!-- <div class="right-dashboard row m-0 p-0 green-testing"> -->
      <!-- Meme window -->
      <!-- <div class="col-12 col-md-12 col-lg-8 blue-testing"> -->

      <!-- </div> -->
      <!-- Right side bar -->
      <!-- <div class="col-0 col-md-0 col-lg-4 d-none d-lg-flex flex-column purple-testing"> -->

      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <!-- Mobile lower bar menu -->
  <!-- <div class="d-block d-lg-none mobile-dash-menu green-testing"> -->
  <!-- </div> -->
<!-- </div> -->
