<div class="comment-strip d-flex flex-row" data-comment-id="<%= comment.id %>">
  <div class="pt-1">
    <%= render partial: 'shared/atoms/user_avatar', collection: [comment.meme], as: :meme %>
  </div>
  <div class="comment-content">
    <div class="comment-strip">
      <h6 class="comment-author"><%= comment.user.username %></h6>
      <p> <%= link_to "<i class='fas fa-trash'></i>".html_safe, meme_comment_path(comment.meme,comment), method: :delete,
      remote: true %></p>
      <%= comment.content %>
      <p class="card-subtitle"><small class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</small></p>
    </div>
  </div>
</div>
