<% rank = 0 %> 
<% @top_ten_users.each do |user| %>
  <div class="user-item row align-items-center" data-user=<%= user.id %>>
    <div class="user-rank d-flex col-1">
      <h5><%= rank += 1 %></h5>
    </div>
    <div class="user-avatar d-flex col-2">
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar, class: "avatar" %>
      <% end %>
    </div>
    <div class="user-name d-flex col-5">
      <p><%= link_to user.username, user_path(user) %></p>
    </div>
    <div class="user-stats d-flex col-3">
      <div class="user-stats-rank mx-1">
        <span class="badge badge-primary align-baseline"><i class="fas fa-skull-crossbones"></i>
      <%= user.dank_rank.total_score %></span>
      </div>
      <div class="user-stats-follower">
        <span class="badge badge-secondary align-baseline"><i class="fas fa-trophy"></i>
          <%= user.dank_rank.rank_up_xp_progress %>
        </span>
      </div>
    </div>
  </div>
<% end %>
