<div class="user-sidebar-info p-3">
  <!-- Presents login form if not logged in -->
  <h4><%= current_user.username %></h4>
  <%= image_tag current_user.avatar, class: "user-l-sidebar-info-image" %>
    <!-- <img class="user-l-sidebar-info-image m-0"> -->
  <h5> Lvl. <%= current_user.get_dank_rank %></h5>
  <div class="dank-rank-section">
    <div class="dank-bar">
      <div class="dank-filler">
      </div>
    </div>
    <p><a href="#" class="badge badge-primary mt-2">89 / 123</a> until next level</p>
    <div class="row text-center">
      <div class="engagement-score col-4">
        <i class="fas fa-circle"></i> <%= current_user.engagement_score %>
      </div>
      <div class="collection-score col-4">
        <i class="fas fa-circle"></i> <%= current_user.collection_score %>
      </div>
      <div class="creation-score col-4">
        <i class="fas fa-circle"></i> <%= current_user.creation_score %>
      </div>
    </div>
  </div>
</div>
